// src/assets/styles/base/_base.scss

html {
  font-size: $size-root-mobile; 

  @include media-breakpoint-up($lg) { 
    font-size: 68.75%; 
  }
}

body {
  font-family: $family-body; 
  font-size: $text; 
  line-height: $height-body; 
  color: $text-light; 
  background-color: $dark; 
  overflow-x: hidden; 
}

h1 {
  font-family: $family-heading; 
  font-size: $h1; 
  line-height: $height-heading; 
  font-weight: $weight-bold; 
  color: $text-light; 
}

h2 {
  font-family: $family-heading; 
  font-size: $h2; 
  line-height: $height-heading; 
  font-weight: $weight-bold; 
  color: $text-light; 
}

h3 {
  font-family: $family-heading; 
  font-size: $h3; 
  line-height: $height-heading; 
  font-weight: $weight-bold; 
  color: $text-light; 
}

.subheading {
  font-family: $family-subheading; 
  font-size: $text-large; 
  font-weight: $weight-regular; 
  color: $text-light; 
}


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}
