.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; 
  z-index: -index-tooltip; 

  transform: translate(-50%, -50%); 
  transition: transform -speed-fast ease-out, opacity -speed-fast ease-out;

  &__dot {
    width: 1rem;
    height: 1rem;
    background-color: -purple;
    border-radius: 50%;
    opacity: 0.8;
  }
 
}
