// src/assets/styles/components/_project-block.scss

.project-block {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden; 

  .project-image {
    width: 100%;
    height: 30rem; 
    object-fit: cover;
    transition: transform $speed-normal $in-out; 
  }

  .project-content {
    padding: $md-spacing; 
    background-color: rgba($dark, 0.8); 
    color: $text-light; 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(0%);
    transition: transform $speed-normal $in-out; 

    &__phase-1 {
    
    }
    &__phase-2 {
      
    }
    &__phase-3 {
      
    }
  }

  
  &:hover {
    .project-image {
      transform: scale(1.05);
    }
  }

  @include media-breakpoint-up($md) { 
    flex-direction: row; 
    .project-image {
      height: 40rem; 
    }
  }
}